<div class="grid-container">
	<div class="grid-header">Projects</div>
	<a routerLink="/kanban-board" class="grid-item">
		<img src="../../../../assets/media/square-placeholder.jpg">
		<p class="grid-item-header">Kanban Board</p>
	</a>
	<a routerLink="" class="grid-item">
		<img src="../../../../assets/media/square-placeholder.jpg">
		<p class="grid-item-header">Calculator</p>
	</a>
	<a routerLink="" class="grid-item">
		<img src="../../../../assets/media/square-placeholder.jpg">
		<p class="grid-item-header">Weight Converter</p>
	</a>
</div>
