<mat-form-field [fxFlex]="flex" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input
    matInput
    #input="ngModel"
    ngModel
    [placeholder]="type == 'number' ? 'Ex. 4.6' : 'Ex. Kaiden'"
    [attr.name]="name"
    [required]="required ? 'required' : false"
    [pattern]="type == 'number' ? '[0*-9]*' : '[a-zA-Z0-9 ]*'">
    <mat-error *ngIf="input.errors?.['required']"> {{ label }} is <strong>required!</strong></mat-error>
    <mat-error *ngIf="input.errors?.['pattern']"> {{ label }} must be of type <strong>{{ type }}!</strong></mat-error>
</mat-form-field>
