@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Open+Sans:wght@300;400&display=swap');

:root {
	font-size: 16px;
}

@media (min-width: 768px) {
	:root {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: 20px;
	}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Barlow;
}

body {
	--header-bg-color: #cecece;
	--icon-color: #585858;

	--button-bg-color: #00b600;
	--button-hov-bg-color: #009700;

	--background-color: #fff;

	--paragraph-color: #000;

	--list-bg-color: #212224;
	--list-hov-bg-color: #1d2e28;
	--card-bg-color: #0f5132;
	--card-hov-bg-color: #0a5c36;

	--border-color: #0e62cf;

	--header-height: 5rem;

	background-color: var(--background-color);
}

body.dark-mode {
	--header-bg-color: #333;
	--icon-color: #fff;

	--button-bg-color: #00a000;
	--button-hov-bg-color: #007200;

	--background-color: #444;

	--paragraph-color: #fff;

	--list-bg-color: #212224;
	--list-hov-bg-color: #1d2e28;
	--card-bg-color: #0f5132;
	--card-hov-bg-color: #0a5c36;

	--border-color: #1f7ffc;
}

button {
	border: none;
	outline: none;
	padding: 0.5rem;
	color: #fff;
	background-color: var(--button-bg-color);
	transition: all 0.1s;
}

button:hover {
	cursor: pointer;
	background-color: var(--button-hov-bg-color);
}

p {
	color: var(--paragraph-color);
}

.v-div {
	display: block;
	height: 100%;
	width: 0.1rem;
	background-color: var(--icon-color);
}

.h-div {
	height: 0.1rem;
	width: 100%;
	background-color: var(--icon-color);
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s forwards 0.4s;
}

.grid-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: 25% 25% 25%;
	grid-template-rows: 25% 25% 25%;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.grid-header {
	grid-column: 1 / span 3;
	grid-row: 1;
	font-size: 2rem;
	color: var(--paragraph-color);
}

.grid-item {
	border: var(--button-bg-color) 0.2rem solid;
	display: flex;
	flex-direction: column;
	background-color: var(--header-bg-color);
}

.grid-item:hover {
	border: var(--button-hov-bg-color) 0.2rem solid;
	cursor: pointer;
}

.grid-item-header {
	padding: 0.25rem;
	font-size: 0.75rem;
}

.action-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
}

.editable {
	padding: 0.2rem!important;
	background-color: #fff!important;
	color: #000!important;
}

input {
	border: none;
	color: var(--paragraph-color);
	outline: none;
}

a {
	text-decoration: none;
}

@media (min-width: 768px) {
	.grid-item-header {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {

}
