<div class="calculator-container">
	<div class="calculator-btn-container">
		<p id="calculator-screen">{{equation}}</p>
		<button class="calculator-btn" (click)="addToEquation('1')">1</button>
		<button class="calculator-btn" (click)="addToEquation('2')">2</button>
		<button class="calculator-btn" (click)="addToEquation('3')">3</button>
		<button class="calculator-btn" (click)="addToEquation('+')">+</button>
		<button class="calculator-btn" (click)="addToEquation('4')">4</button>
		<button class="calculator-btn" (click)="addToEquation('5')">5</button>
		<button class="calculator-btn" (click)="addToEquation('6')">6</button>
		<button class="calculator-btn" (click)="addToEquation('-')">-</button>
		<button class="calculator-btn" (click)="addToEquation('7')">7</button>
		<button class="calculator-btn" (click)="addToEquation('8')">8</button>
		<button class="calculator-btn" (click)="addToEquation('9')">9</button>
		<button class="calculator-btn" (click)="addToEquation('*')">*</button>
		<button class="calculator-btn" (click)="addToEquation('0')">0</button>
		<button class="calculator-btn" (click)="addToEquation(',')">,</button>
		<button class="calculator-btn" (click)="addToEquation('=')">=</button>
		<button class="calculator-btn" (click)="addToEquation('c')">c</button>
	</div>
</div>
