<div class="modal-backdrop" (click)="close()">
</div>
<div class="modal-container">
	<div class="modal-header">
		<editable-text [data]="data"></editable-text>
		<p id="creation-date">Creation Date: {{data.creationDate | date}}</p>
	</div>
	<div class="modal-content">
		<div>
			<p>Description:</p>
			<textarea
				#description
				id="descriptionInput"
				type="text"
				class="list-name"
				(keydown.enter)="canChange = false"
				(keydown.enter)="canChange = false"
				(click)="canChange = true"
				(focusout)="canChange = false"
				[readonly]="!canChange"
				[ngClass]="canChange ? 'editable' : ''"
				value="{{data.description}}"
				(change)="data.description = description.value" placeholder="No description, yet!">
			</textarea>
		</div>
		<div>
			<checklist [data]="data.checklist"></checklist>
		</div>
	</div>
</div>
