  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">

      <form #form="ngForm" class="form-control p-5" (ngSubmit)="onSubmit(form)">
        <div class="row">
          <div class="col-10 col-md-8 col-lg-6">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select [formControl]="equipmentControl" #selection>
                <mat-option>-- None --</mat-option>
                <mat-optgroup *ngFor="let category of equipmentGroups" [label]="category.name">
                  <mat-option *ngFor="let subcategory of category.subcategory" [value]="subcategory.name" (onSelectionChange)="optionSelected($event)">{{ subcategory.name }}</mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-10 col-md-8 col-lg-6">
            <div class="form-floating mb-3" *ngIf="selection.value">
              <value [name]="'Item Name'" [isRequired]="true" [type]="'text'" ngModel></value>
            </div>
          </div>
        </div>

        <div *ngIf="selection.value">
          <div class="row">
            <div class="col-10 col-md-8 col-lg-6">
              <value [name]="'Set'" [isRequired]="false" [type]="'text'"></value>
            </div>
            <div class="col-10 col-md-8 col-lg-6">
              <div class="form-floating mb-3">
                <value [name]="'Weight'" [isRequired]="true" [type]="'number'"></value>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="this.selected == 'Armor'">
          <div class="row border rounded border-primary p-2">
            <div class="col-10 col-md-8 col-lg-6">
              <h4>Damage Negation</h4>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Physical'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Strike'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Pierce'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Slash'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Magic'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value [name]="'Fire'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                </div>
              </div>
              <value [name]="'Holy'" [isRequired]="false" [type]="'number'"></value>
            </div>
            <div class="col-10 col-md-8 col-lg-6">
              <h4>Resistance</h4>
              <value [name]="'Immunity'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              <value [name]="'Vitality'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              <value [name]="'Focus'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              <value [name]="'Poise'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              <value [name]="'Robustness'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
            </div>
          </div>
        </div>

        <div *ngIf="this.selected == 'Weapon'">
          <div class="row border rounded border-primary p-2">
            <div class="row">
              <div class="col-10 col-md-8 col-lg-6">
                <h4>Attack</h4>
                <value [name]="'Physical'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Magic'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Fire'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Lightning'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Holy'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Critical'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              </div>
              <div class="col-10 col-md-8 col-lg-6">
                <h4>Guard</h4>
                <value [name]="'Physical'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Magic'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Fire'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Lightning'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Holy'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
                <value [name]="'Boost'" [flex]=100 [isRequired]="false" [type]="'number'"></value>
              </div>
            </div>
            <div class="row">
              <div class="col-10 col-md-8 col-lg-6">
                <div class="row">
                  <div class="col-10 col-md-8 col-lg-6">
                    <h4>Scaling</h4>
                  </div>
                  <div class="col-10 col-md-8 col-lg-6">
                    <button class="btn btn-outline-secondary m-1" (click)="addScaleField()">+</button>
                    <button class="btn btn-outline-secondary m-1" (click)="removeScaleField()">-</button>
                  </div>
                </div>
                <div class="form-control border-0">
                  <scale-field *ngFor="let scaleField of scaleFields"></scale-field>
                </div>
              </div>
              <div class="col-10 col-md-8 col-lg-6">
                <div class="row">
                  <div class="col-10 col-md-8 col-lg-6">
                    <h4>Requires</h4>
                  </div>
                  <div class="col-10 col-md-8 col-lg-6">
                    <button class="btn btn-outline-secondary m-1" (click)="addStatField()">+</button>
                    <button class="btn btn-outline-secondary m-1" (click)="removeStatField()">-</button>
                  </div>
                </div>
                <div class="form-control border-0">
                  <stat-field *ngFor="let statField of statFields"></stat-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
