  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">

      <form #form="ngForm" class="form-control p-5" (ngSubmit)="onSubmit(form)">
        <div class="row">
          <div class="col-10 col-md-8 col-lg-6">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select [formControl]="equipmentControl" #selection>
                <mat-option>-- None --</mat-option>
                <mat-optgroup *ngFor="let category of equipmentGroups" [label]="category.name">
                  <mat-option *ngFor="let subcategory of category.subcategory" [value]="subcategory.name" (onSelectionChange)="optionSelected($event)">{{ subcategory.name }}</mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-10 col-md-8 col-lg-6">
            <div class="form-floating mb-3" *ngIf="selection.value">
              <value name="name" valueName="Item Name" [required]="true" type="text" ngModel ngDefaultControl></value>
            </div>
          </div>
        </div>

        <div *ngIf="selection.value">
          <div class="row">
            <div class="col-10 col-md-8 col-lg-6">
              <value name="set" valueName="Set" [required]="true" type="text" ngModel ngDefaultControl></value>
            </div>
            <div class="col-10 col-md-8 col-lg-6">
              <div class="form-floating mb-3">
                <value name="weight" valueName="Weight" [required]="true" type="number" ngModel ngDefaultControl></value>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="this.selected == 'Armor'">
          <div class="row border rounded border-primary p-2">
            <div class="col-10 col-md-8 col-lg-6" ngModelGroup="damageNegation">
              <h4>Damage Negation</h4>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="physical" [flex]=100 valueName="Physical" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="strike" [flex]=100 valueName="Strike" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="pierce" [flex]=100 valueName="Pierce" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="slash" [flex]=100 valueName="Slash" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="magic" [flex]=100 valueName="Magic" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
                <div class="col-10 col-md-8 col-lg-6">
                  <value name="fire" [flex]=100 valueName="Fire" [required]="false" type="number" ngModel ngDefaultControl></value>
                </div>
              </div>
              <value name="holy" [flex]=100 valueName="Holy" [required]="false" type="number" ngModel ngDefaultControl></value>
            </div>
            <div class="col-10 col-md-8 col-lg-6" ngModelGroup="resistance">
              <h4>Resistance</h4>
              <value name="immunity" [flex]=100 valueName="Immunity" [required]="false" type="number" ngModel ngDefaultControl></value>
              <value name="vitality" [flex]=100 valueName="Vitality" [required]="false" type="number" ngModel ngDefaultControl></value>
              <value name="focus" [flex]=100 valueName="Focus" [required]="false" type="number" ngModel ngDefaultControl></value>
              <value name="poise" [flex]=100 valueName="Poise" [required]="false" type="number" ngModel ngDefaultControl></value>
              <value name="robustness" [flex]=100 valueName="Robustness" [required]="false" type="number" ngModel ngDefaultControl></value>
            </div>
          </div>
        </div>

        <div *ngIf="this.selected == 'Weapon'">
          <div class="row border rounded border-primary p-2">
            <div class="row">
              <div class="col-10 col-md-8 col-lg-6">
                <h4>Attack</h4>
                <value name="physical" [flex]=100 valueName="Physical" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="magic" [flex]=100 valueName="Magic" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="fire" [flex]=100 valueName="Fire" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="lightning" [flex]=100 valueName="Lightning" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="holy" [flex]=100 valueName="Holy" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="critical" [flex]=100 valueName="Critical" [required]="false" type="number" ngModel ngDefaultControl></value>
              </div>
              <div class="col-10 col-md-8 col-lg-6">
                <h4>Guard</h4>
                <value name="physical" [flex]=100 valueName="Physical" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="magic" [flex]=100 valueName="Magic" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="fire" [flex]=100 valueName="Fire" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="lightning" [flex]=100 valueName="Lightning" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="holy" [flex]=100 valueName="Holy" [required]="false" type="number" ngModel ngDefaultControl></value>
                <value name="boost" [flex]=100 valueName="Boost" [required]="false" type="number" ngModel ngDefaultControl></value>
              </div>
            </div>
            <div class="row">
              <div class="col-10 col-md-8 col-lg-6">
                <div class="row">
                  <div class="col-10 col-md-8 col-lg-6">
                    <h4>Scaling</h4>
                  </div>
                  <div class="col-10 col-md-8 col-lg-6">
                    <button class="btn btn-outline-secondary m-1" (click)="addScaleField()" type="button">+</button>
                    <button class="btn btn-outline-secondary m-1" (click)="removeScaleField()" type="button">-</button>
                  </div>
                </div>
                <div class="form-control border-0" ngModelGroup="scaling">
                  <scale-field *ngFor="let scaleField of scaleFields" (onScaleChange)="updateScaleField(scaleField, $event)" [name]="scaleField.stat" ngModel ngDefaultControl></scale-field>
                </div>
              </div>
              <div class="col-10 col-md-8 col-lg-6">
                <div class="row">
                  <div class="col-10 col-md-8 col-lg-6">
                    <h4>Requires</h4>
                  </div>
                  <div class="col-10 col-md-8 col-lg-6">
                    <button class="btn btn-outline-secondary m-1" (click)="addStatField()" type="button">+</button>
                    <button class="btn btn-outline-secondary m-1" (click)="removeStatField()" type="button">-</button>
                  </div>
                </div>
                <div class="form-control border-0" ngModelGroup="requires">
                  <stat-field *ngFor="let statField of statFields" (onStatChange)="updateStatField(statField, $event)" [name]="statField.stat" ngModel ngDefaultControl></stat-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
