.card-container {
	width: 100%;
	height: 1.5rem;
	padding: 1.5rem 0.5rem;
	background-color: var(--card-bg-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
}

.card-container:hover {
	cursor: pointer;
	background-color: var(--card-hov-bg-color);
}

.card-name {
	background: transparent;
}
